@font-face {
    src: url(fonts/SourceSansPro);
    font-family: 'Source Sans Pro', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*list-style: none; */
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    
}

/* Header */
.navbar{
    background: #fff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

#logo{
    width: 200px;
    height: 100px;
    margin-top: 12px;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}

.navbar__link{
    color: #000053;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    font-family: 'Slabo 27px', serif;
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #550000;
    color: #fff;
    font-family: 'Slabo 27px', serif;
}

.button:hover{
    background: #7E7474;
    transition: all 0.3s ease;
}

.navbar__link:hover{
    color: #B8c1a9;
    transition: all 0.3s ease;
}

/* Mobile Responsive */

@media screen and (max-width: 960px){
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #fff;
    }

    .navbar__menu.active{
        background: #fff;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 65vh;
        font-size: 1.6rem;
    }

    #navbar__logo{
        padding-left: 25px;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background:#550000;
    }

    .navbar__item{
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    
    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn{
        padding-bottom: 2rem;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

}


/* Main Section */
.main{
    min-height: 60vh;
    display: flex;
    align-items: center;
    background: rgba(16, 5, 86, 0.3) url(../images/Hand-Care.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}

.main__content h1{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

/* Quote Section */
.quote{
    background: #fff;
}
.quote__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 60vh;
    width: 100%;
    max-width: 1000px;
    padding: 0 40px;
    z-index: 1;
}

.quote__content h1{
    font-size: 3rem;
    color: #000053;
    font-family: 'Slabo 27px', serif;
}

.quote__content h2{
    font-size: 2rem;
    
}

.quote__container p{
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 900;
    color: #550000;
}

.quote__btn{
    font-size: 1rem;
    background-color: #550000;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 1rem;
    cursor: pointer;
    position: relative;
    outline: none;
}

.quote__btn a{
    position: relative;
    color: #fff;
    text-decoration: none;
}

.quote__btn:hover{
    background: #7E7474;
    transition: all 0.3s ease;
}

#quote__img{
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 790px) {
    .quote__container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto 30px;
        height: 90vh;
    }

    .quote__content{
        text-align: center;
        
    }

    .quote__content h1{
        font-size: 3rem;
        margin-top: 2rem;
    }

    .quote__content h2{
        font-size: 2rem;
    }

    .quote__content p{
        margin-top: 1rem;
        font-size: 1rem;
    }

    #quote__img{
        object-fit: contain;
        width: 100%;
        height: 350px;  
    }

}

/* Map Section */
#map{ 
    height: 500px;
    width: 100%;
}

.map__container{
    background-color: #F6F6F6;
}

.map__content{
    padding: 20px;
}

.map__content h2{
    color: #000053;
    text-align: center;
    
}

/* Near Section */
.near__container{
    background-color: #F6F6F6;
    padding: 10px 80px 80px;
}

.near__title h2{
    text-align: center;
    color: #000053;
    padding: 30px;
    
}

.near__content{
    display: grid;
    column-gap: 2rem;
    grid-template-columns:repeat(4, 1fr);
    align-items: center;
    justify-self: center; 
    margin-bottom: 0;
}

.near__content img{
    height: 250px;
    width: 100%;
}

.near__content p{
    font-size: 20px;
    text-align: center;
    color: #7F8487;
    padding: 15px;
}

@media screen and (max-width: 960px){

    .near__content{
        display: grid;
        gap: 5rem;
        grid-template-columns:repeat(auto-fill, minmax(250px, 1fr));
    }

    .near__content p{
        padding: 20px;
    }
}


/* Footer */
.footer__container{
    background-color: #000053;
    padding-bottom: 1rem;
    padding-top: 1.5rem;
}

.footer{
    display: flex;
    flex-basis: 100%;
    height: 25vh;
    color: #fff;
    justify-content: space-around;
    padding: 10px 100px;
    gap: 45px; 
}

.footer__contact{
    display: flex;
    flex-direction: column;
}

.footer img{
    width: 200px;
    height: 200px;
    position: relative;
    top: -30px;
}

.footer h3{
    padding-bottom: 10px;
    font-family: 'Slabo 27px', serif;
}

.footer p{
    padding-bottom: 5px;
}

.rights__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #000053;
    padding: 0 0 35px 0;
}

.rights__container img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-top: 10px;
}

.rights__container p{
    color: #fff
}

@media screen and (max-width: 780px) {
    .footer__container{
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    .footer{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        text-align: center;
    }

    .footer img{
        width: 300px;
        height: 300px;
        align-self: center;
    }

    .rights__container{
        text-align: center;
    }  
}

/* Mission Section */

.mission_container{
    min-height: 30vh;
    display: flex;
    align-items: center;
    background: rgba(54, 54, 54, 0.3) url(../images/Main-Image.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}

.mission_container h1{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3em;
    margin-top: 1em;
    text-align: center;

}

/* text */

.mission_text_container .head h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    text-align: center;
    padding: 5px;
    font-family: 'Slabo 27px', serif;
}

.mission_text_container .head .line{
    width: 100%;
    height: 2px;
    color: #B8c1a9;
    background:#B8c1a9;
}

.mission_text_container .text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text p{
    line-height: 1.60em;
    font-size: 1.2em;
}

.mission_text_container{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 0 50px;
}

.text_content{
    margin-bottom: 5em;
}

/* services */

.service_button_container{
    padding: 80px;
    background: #F9F9F9; 
}

.service_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.service_content p{
    padding-bottom: 1em;
    font-size: 1.2em;
    text-align: center;
    font-family: 'Slabo 27px', serif;
}

.service_content a{
    letter-spacing: 4px;
}

.service_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: #B8c1a9;
    color: #fff;
}

.service_btn:hover{
    background: #000053;
    transition: all 0.3s ease;
}

@media screen and (max-width: 650px){

    .mission_container h1{
        margin-top: 2.6em;
    }
}


/* Services Section */

.services_container{
    min-height: 30vh;
    display: flex;
    align-items: center;
    background: rgba(54, 54, 54, 0.3) url(../images/Main-Image.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;

}

.services_container h1{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3em;
    margin-top: 1em;
    text-align: center;
}

/* price */

.price_text_container{
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding: 40px 50px;
    gap: 30px;
    justify-items: center;
    
}

.price_text h3{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Slabo 27px', serif;
    font-size: 1.4rem;
     color:#7E7474;
    font-style: italic;
}

.price_text span{
    font-family: 'Slabo 27px', serif;
    text-decoration: underline;
   
}

.price_text p{
    text-align: center;
    line-height: 1.6;
}

/* services */

#services {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    width: 100%;
    background-color: #F9F9F9;
    /*background: rgba(0, 5, 86, 0.3) url(../images/monogram.jpg); */
    background-blend-mode: lighten;
    
    
}

.service{
    width: 400px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    border-radius: 8px;
    margin: 50px;
    background-color: white;
}

.service img{
    max-width: 100%;
    width: 400px;
    height: 300px;
    border-radius: 8px 8px 0 0;
}

.service h1{
    padding: 15px 20px 5px 20px;
    /* text-transform: uppercase; */
    font-size: 1.4rem;
    color:#000053;
    font-family: 'Slabo 27px', serif;
    font-style: italic;
}

.service ul{
    padding: 15px 20px;
    margin: 0; 
}

.service li {
    margin-bottom: 11px; 
    line-height: 1.5;
    display: flex;
    align-items: center;

}

.service i {
    color: #000053;
}

.service span{
    margin-left: 10px;
}

/*
.services_description_container{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding: 20px 50px;

} 
*/


















